<md-card>
    <md-card-title>Raspberry Lamp</md-card-title>
    
    <md-card-content>
        <!--<md-card-subtitle></md-card-subtitle>-->
        <md-input-container>
            <label>Color</label>
            <input mdInput [(colorPicker)]="color" [style.background]="color" />
        </md-input-container>
        
        <div>
            <label>Brillo</label>
            <md-slider [value]="bright" (change)="onBrightChanged($event)" max="9" min="2" step="1" thumb-label="true" tickInterval="1"></md-slider>
        </div>
    </md-card-content>
    
    <md-card-actions>
        <button md-button (click)="update()">Actualizar</button>
    </md-card-actions>
</md-card>